
#suiveznous {
    font-family: Katibeh, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: var(--mauve);
    text-align: center;
    
    border-top: solid 2px var(--noir);
    
    
}
.foot {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--mauve);
      

}

.foot {
    display: flex;
    justify-content: space-around;
    background-color: var(--mauve);
   
}
.backcolorfoot {
    background-color: var(--mauve);
    padding-bottom: 0.5em;
    align-items: center;
    margin-right: 0;
   
}

svg:hover {
    background-color: red;
    
}
