

.Map {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 4em;
}

h1.title {
    font-size: 5em;
}

.billet {
    font-size: 3em;   
    display: flexbox;
    justify-content: center;   
    padding: 0 1em 0.3em 1em;    
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    background-color: var(--rouge);
    color: var(--blanc);
    
}

.ConcertHomePagelg {
    display: flex;
    justify-content: center;
    max-width: 50vw;    
}
.ConcertHomePage {
    display: flex;
    justify-content: center;
    max-width: 100vw;    
    margin-left: 1em;
    margin-right: 1em;
}

.boutonBilletHome {
    display:flex;
    justify-content: center;
    
}

 