



h1.title {
    font-size: 5em;
}

.billet {
    font-size: 3em;   
    display: flexbox;
    justify-content: center;   
    padding: 0 1em 0.3em 1em;    
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    background-color: var(--rouge);
    color: var(--blanc);
    
}

.ConcertHomePage {
    display: flex;
    justify-content: center;
    
    
    
}

.card {
    border: none;
    max-width: 70vw;
    background-color: var(--mauve);
    justify-content: space-around;
    
}

.boutonBilletHome {
    display:flex;
    justify-content: center;
    
}

.background {
    
    background-color: var(--gris);
    
    align-items: center;
    justify-content: center;
    font-family: Katibeh, Arial, Helvetica, sans-serif;
  
  justify-content: center;
  text-align: center;
  color: var(--rouge);
}


 