.textInfo {
    min-height: 100vh;  
    margin: 2em 2em 2em 2em;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden auto;
}

.titreConf {
    display: flex;
    justify-content: center;
}