


.checkboxes {
    display: flex;
    justify-content: center;
    padding-right: 0.5em;   
    background-color: #CEEAD6;   
  
}
.checkbox {
    padding-inline: 0.5em;   
    display: flex;    
  
}

.mapMini {
   
    margin-bottom: 3em;
   
    
}

.Gmap {
    height: 80vh;
    
    
}

.overflow {
    overflow: hidden auto;
}

