
.head {
    display:flex;
    background-color: var(--mauve);
    align-items: center;
    border-bottom: solid 2px var(--noir);
    padding-top: 0em;
    
}

.logo {
    display: flex;
    align-items: center;
   
}

ul {
    list-style: none;
    font-family: Katibeh, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    
  }

.navbar__links {    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0em;
    
}


.navbar__link {
    display: flex;    
    justify-content: space-between;
    padding-inline: 1.5rem;
    align-items: center;
    text-decoration: none;
    color: black;
    
}  

.navbar__link:hover {
    color: red;
}

.Burger {
    display: flex;
    align-items: center;
    height: 0.8em;
    background-color:--mauve;   
    left: 0.5em;
    margin-bottom: 1.3em;
    
   }

   


.logoSize {
    width: 10em;    
    right: 0rem;
    margin-bottom: 1rem;    
 }



 a {
    text-decoration: none;
 }

 h3 {
    justify-content: space-between;
    margin-inline: 1em;
    color: var(--noir);
 }

 .headLogoM {
    font-family: Katibeh, Arial, Helvetica, sans-serif;
    padding-top: 0.5em;
    
    
 }

 h3:hover {
    color: red;
 }

 .btn {
    max-width: 4.2em;
    border-style: none;
 }
 
.headTitle {  
    
    font-family: Katibeh, Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    padding-top: 0.5em;
   
    
}

.topBar {
    display: flex;
}

