.displayCardProg {
    display: flex;
    justify-content: center;
  
    
        

}

.maxSize {
    width: 40em;
    margin-top: 1em;
    max-width: 90vw;
    
}

.fullPage {

    min-height: 100vh;
    background-color: var(--gris);

}
