.displayCardProg {
    display: flex;
    justify-content: center;
  
    
        

}

.maxSize {
    width: 40em;
    margin-top: 1em;
    max-width: 90vw;
    
}

.fullPage {

    min-height: 100vh;
    background-color: var(--gris);

}

.kard {
    display: grid;
    justify-content: center;
    
    
    
}

.boutonLegend {
    display: flex;
    justify-content: center;
}

.boutonLegendH1 {
    display: flex;
    justify-content: center;
    font-family: Katibeh, Arial, Helvetica, sans-serif;
    font-size: xx-large;
}


.listCheck {
    background-color: var(--gris);
    justify-content: center;
    margin-right: 0.2em;
    
    
}

.Burger {
    max-width: 3.2em;
}

.BurgerProg {
    max-width: 3.2em;
    margin-right: 0.5em;
    
    
}

.BurgerSituation {
    display: grid;
    justify-content: end;

}

.FilterSituation {
    display: grid;
    justify-content: end;
}

.checkBox {
    margin-right: 0.2em;
}


.details {
    background-color: var(--gris);
    overflow: hidden auto;
}

.overflow {
    overflow: hidden auto;
}