/***********TailWind***************/

@tailwind base;
@tailwind components;
@tailwind utilities;



/***************Initialisation*************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
  
  }



/***************Couleurs******************/

:root {
  --blanc: #FFFFFF;
  --mauve: #d880e0;  
  --rouge: #f76c6c;
  --noir: #000000;
  --gris: #fde3e3;     
  --vert: #C3F1D5;
}

/****************** Balises *****************/
a {
  text-decoration: none;
}

a:hover {
  color: var(--rouge);  
}

svg:hover {
  background-color: var(--rouge);
}

html {
  font-display: swap;
}

h1.title {
  font-size: 5em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  justify-content: space-between;
  margin-inline: 1em;
  color: var(--noir);
}

h3:hover {
  color: var(--rouge);
}

h4 {
  font-size: 1.2em;
}

input {
  
  min-width: 2em;
  min-height: 2em;
  margin: 1em 0.5em 1em 2em ;
  border:0.5em
}



ul {
  list-style: none;
  font-family: Katibeh, Arial, Helvetica, sans-serif;
  font-size: 1.5em;    
}

ul:hover {
  color: var(--rouge);
}

ul.concertList {
  min-height: 1000px; /* réserve l'espace pour les cards */
}

/******************ID************************/
#suiveznous {
  font-family: Katibeh, Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding-bottom:0.4em;
  display: flex;
  justify-content: center;
  background-color: var(--mauve);
  text-align: center;    
  border-top: solid 2px var(--noir);   
}

#fleche {
  width: 3em;
}
#preload-hero {
  position: fixed;
  top: 20vh;
  left: 0;
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}
 
ul:hover {
  color: var(--rouge);
}


/******************Classes*******************/
/* A */


/* B */


.backcolorfoot {
  background-color: var(--mauve);
  justify-content: space-between;
  align-items: center;
  margin-right: 0; 
  display: flex;
  text-align: center;
  justify-content: space-around;    
  padding-bottom: 1.5em;
  
}

.backcolorfootDesk {
  background-color: var(--mauve);
  justify-content: space-between;
  align-items: center;
  margin-right: 0; 
  padding-top: 1em;
  border-top: solid 2px var(--noir);
}

.backcolorfootMobile {
  background-color: var(--mauve);
  justify-content: space-between;
  align-items: center;
  margin-right: 0; 
  padding-top: 1em;
  border-top: solid 2px var(--noir);
   
}

.backdrop {
  position: fixed;
  inset: 0; /* couvre tout l'écran */
  background: rgba(0, 0, 0, 0.5); /* noir semi-transparent */
  z-index: 5; /* plus bas que ton menu mais plus haut que le reste */
}

.background {    
  background-color: var(--gris);    
  align-items: center;
  justify-content: center;
  font-family: Katibeh, Arial, Helvetica, sans-serif;  
  justify-content: center;
  text-align: center;
  color: var(--rouge);
}

.backgroundMap {
  max-height: max-content;
  min-height: 100vh;
  background-color: var(--vert);
}

.bill {
  padding-top: 1em;   
  display: flex;
  justify-content: space-around;      
}

.billet {
  font-size: 3em;   
  display: flexbox;
  justify-content: center;   
  padding: 0 1em 0.3em 1em;    
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 1.5em;
  background-color: var(--rouge);
  color: var(--blanc);    
}

.billetterie { 
  justify-content: space-around;
  min-height: 100vh;   
  background-size: cover;
  background-color: var(--gris);
}

.boutonBilletHome {
  display:flex;
  justify-content: center;    
}

.boutonFilterErase {
  margin-right: 0.5em;
}

.boutonFilterResult {
  margin-left: 0.5em;
}


.boutonLegend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.boutonLegendH1 {
  display: flex;
  justify-content: center;
  font-family: Katibeh, Arial, Helvetica, sans-serif;
  font-size: xx-large;
  padding-top: 0.5em;
}

.boutonRetourDetail {
  margin-left:1em;  
  margin-top: 2em;
  margin-bottom: 1em;    
}

.boutonSubmit {    
  margin-top: 2em;
  min-width: fit-content;
  display: flex;
  justify-content: center;
}

.btn {
  max-width: 4.2em;
  border-style: none;
}

.Burger {
  max-width: 4em;
  display: flex;
  align-items: center;  
  background-color:var(--mauve);   
  left: 0.5em;
  margin-bottom: 1.1em;    
 }

.BurgerProg {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}



.BurgerSituation {
  display: grid;
  justify-content: center;  
}

.BurgerSituationMap {
  display: grid;
  justify-content: end;
  background-color: var(--vert);
  border-radius: 0;

}

/* c */

.card {
  border: none;
  max-width: 70vw;
  background-color: var(--mauve);
  justify-content: space-around;    
}

.card img {
  display: block;
  width: 100%;  
  aspect-ratio: 16/9;
  object-fit: cover;
  
}

.card-name {
  font-family: katibeh, Arial, Helvetica, sans-serif;
  font-size: 3em;
  padding-bottom: 0.5em;
}

.card-fond {
  background-color: var(--gris);
  max-width: 15em;
  height: auto;   
}

.cardh {
  border: none;
  max-width: 70vw;
  background-color: var(--mauve);
  justify-content: space-around;    
}

.cardh:hover {
  background-color: var(--rouge);
}

.card-text {
  font-family: katibeh, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  padding-bottom: 0.5em;
  display: flex ;
  justify-content: center;
}

.card-title {
  font-family: katibeh, Arial, Helvetica, sans-serif;
  font-size: 1.7em;
  padding-bottom: 0.5em;
  display: flex ;
  justify-content: center;
}

.checkboxes {
  display: flex;
  justify-content: center;
  padding-right: 0.5em;   
  background-color:var(--vert);     
}

.checkbox {
  padding-inline: 0.5em;   
  display: flex;      
}

.checkBox {
  margin-right: 0.2em;
}



.checkRGPD {
  margin-top: 3em;  
  font-size: 0.8em;
  max-width: 90vw;
  
} 

.checkRGPDLink {
  margin-top: 1em;
   min-width: fit-content;
   margin-bottom: 1em;
  
} 

.checkRGPDRetour {
    background-color: var(--gris);
}

.contact {    
  justify-content: center;    
  background-color: var(--gris);      
  min-height: 100vh;  
  max-width: 100vw; 
  padding-left: 4em;
  padding-right: 4em;      
}

.contacth1 {
  justify-content: center;
  text-align: center;
  background-color: var(--gris);   
  margin-bottom: 0;
  padding-top: 0.5em;
  font-family: Katibeh, Arial, Helvetica, sans-serif;
  font-size: 3em;     
}

.ConcertHomePage {
  display: flex;
  justify-content: center; 
  aspect-ratio: auto;

}

ul.concertList {
  min-height: 500px; /* réserve l'espace pour tes cards */
}

/* D */

.details {
  background-color: var(--gris);
}

.displayCardProg {
  display: flex;
  justify-content: center;
}

/* E */

/* F */

.field {
  margin-left: 0;
  border-radius: 5px;
}

.FilterSituation {
  display: grid;
  justify-content: end;
}

.foot {
  display: flex;
  text-align: center;
  justify-content: space-around;    
  padding-bottom: 1.5em;
}



.fullPage {
  background-color: var(--gris);
  display: grid;
  justify-content: center;
}

.fullpageProg {
  min-height: 100vh;
}

/* G */

.Gmap {
 height:100vh;
 
 padding: 0em 0em 0em 0em;
 width: auto;
 background-color: var(--vert);

 
}

.GmapMini {     
  max-width: 100vw;
  min-height: 50vh;
  margin-bottom: 4em;  
}

.GmapMiniSmall {     
  max-width: 100vw;
  max-height: 100vh;
  
  
}

/* H */
.h2BurgerProg {
  margin-right: 0.5em;  
}

.HautDePage {   
  width: 7.5em; 
  display: grid;
  justify-content: center;
  aspect-ratio: 3 / 1;
  object-fit: contain;
}

.head {
  
  display:flex;
  background-color: var(--mauve);
  align-items: center;
  border-bottom: solid 2px var(--noir);
  padding-top: 0em;
  min-width:100vw;    
  margin: 0;
  padding: 0;  
  
}

.headLogoMuserDisconnectLogo {
  width: 1.5em;
  margin-left: 0.3em;
}

.headLogoMuserDisconnectLogoFS {
  font-size: 0.8em;  
  font-family: Arial, Helvetica, sans-serif;  
}

.headLogoMuserConnectedFirstname {
  display: flex;
  justify-content: center;
  font-size: 1.5em;  
  font-family: Katibeh, Arial, Helvetica, sans-serif;  
  
}

.headLogoMuserConnectedSmiley {
  width: 1em;
  margin-left: 0.3em;
}

.headLogoDuserConnectedFirstname {
  display: flex;
  justify-content: left;
  font-size: 1.5em;  
  font-family: Katibeh, Arial, Helvetica, sans-serif;  
  
}

.headLogoDuserDisconnectLogo {
  width: 1.5em;
  margin-left: 0.3em;
}

.headLogoDuserDisconnect {  
  display: flex;
  justify-content: center;;
  padding-top: 1em;
  max-width: 2em;
  font-size: 0.8em;
  
}

.headLogoMuserDisconnect {  
  display: flex;
  justify-content: center;;
  padding-top: 1em;
  max-width: 2em;
   font-size: 1em;
}



.headLogoMuser { 
  margin-left: 2em;  
  max-width: 2.5em;  
}

.headTitle {      
  font-family: Katibeh, Arial, Helvetica, sans-serif;
  padding-top: 0.8em;
  font-size: 1.8em;
    
}

.headUserD {
  display: flex;
  align-items: center; 
  padding-right: 1em;    
  justify-content: space-between;  
  margin-right: 1em;
}



.headLogoM {  
  margin-left: 0.5em;
  margin-bottom: 1em;
}

/* I */

.ico {
  display: flex;  
  background-color:var(--vert);
  justify-content: center;
  align-items: center;
}

.icoMobile {
  display: flex;  
  background-color:var(--vert);
  justify-content: center;
  align-items: center;
  margin-inline: 0em;
}

.imageDetails {
  max-width: 100vw;
  height: auto;  
  border-radius: 1em;  
}

.imageDetailsContainer {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: auto;
}

.img-fluid {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

@media screen and (min-width: 1024px) {
  .imageDetails {  
   max-width: 60vw;
  }  
}

/* J */

/* K */

.kard {
  display: grid;
  justify-content: center;
  min-width: 100vw;
  min-height: 90vh;
  background-color: var(--gris);  
  min-width: 100vw;

}

/* L */

.label {
  margin-top: 2em;
  margin-bottom: 0.5em;        
}

.listCheck {
  background-color: var(--gris);
  justify-content: center;
  margin-right: 0.2em;    
}

.logo {
  display: flex;
  align-items: center;   
}

.logoM {
  width: 4em;    
  height: auto;  
  aspect-ratio: 35 / 15;    
  
}

.logo-preload {
  opacity: 1; /* pour safari*/
  position: relative;
  z-index: 9999;
  transition: opacity 0.8s ease;
  will-change: opacity;
}

.logo-preload.fade-out {
  opacity: 0;
}

.logoSize {
  width: 10em;    
  right: 0rem;
  margin-bottom: 1rem;    
}

/* M */

.Map {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 4em;
}

.marginMap {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  background-color: var(--gris);
}

.maxSize {
  width: 40em;
  margin-top: 1em;
  max-width: 90vw;    
}

.menuFilter {
  display: grid;
  justify-content: left;
  margin-left: 2em;
  align-items: center;
  background-color: var(--gris);
}

.mobileMenu {
  min-height: 80vh;
}

/* N */

.navbar__item {
  padding: 0.75em 0 0.75em 0;
  font-size: larger;
}

.navbar__link {
  display: flex;    
  justify-content: space-between;
  padding-inline: 1.5rem;
  align-items: center;
  text-decoration: none;
  color: black;    
}  

.navbar__links {    
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0em;    
}

.navbar__link:hover {
  color: var(--rouge);
}

.no-scroll {  
  overflow: hidden;
  height: 100vh; 
  /* empêche le défilement */
}

/* O */

.overlay {
  position: fixed;
  inset: 0;
  background: var(--mauve);
  z-index: 10;
  margin-top: 0em;
  max-width: 65vw;
  max-height: 0;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;  
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 800px) {
  .overlay {   
   max-width: 40vw;
  }  
}


@media screen and (min-height: 1024px) {
  .overlay {  
   max-width: 40vw;
  }  
}

.overlay.show {
  max-height: 90vh;
  overflow: auto;
}



@media screen and (min-height: 810px) {
  .overlay.show {
   max-height: 75vh;   
  }
}

@media screen and (min-height: 1024px) {
  .overlay.show {
   max-height: 55vh;
   max-width: 50vw;
  }  
}


/* P */

.plan {
  min-height: auto;
}

.planh1 {
   justify-content: center;
  text-align: center;
  background-color: var(--vert);   
  margin-bottom: 0;
  padding-top: 0.5em;
  font-family: Katibeh;
  font-size: 3em;     
}

.progBody {
  display: grid;
  justify-content: center;
  font-family: Katibeh, Arial, Helvetica, sans-serif;
  
}

.preload-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--gris); /* Couleur du fond, ou dégradé, ou image */
  z-index: 9998;  
  background-size: cover;
}




/* Q */

/* R */
.registerLink {
  justify-content: center;
  text-align: center;
  font-family: Kanit, Arial, Helvetica, sans-serif;   
  margin-bottom: 0;
  padding-top: 0.5em;  
  font-size: 1em;   
}

.registerLinka {  
  min-width: fit-content;
}

.retour {
  margin-top: 1em;
  bottom:  0em;
}


/* S */

.ScrollConf {
  margin-bottom: 1em;
  background-color: var(--gris);
  margin-bottom: 0;
}

.scroll-to-top-button {
  display: grid;
  align-items:  center;
  justify-content: center;
}

.skeleton-card {
  background-color: var(--mauve);
  border-radius: 1em;
  overflow: hidden;
  width: 70vw; /* identique à .cardh */
  margin: 0 auto;
  display: block;
}

.skeleton-img {
  aspect-ratio: 16 / 9;
  width: 100%;
  background-color: #ddd;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-text {
  padding: 1em;
}

.skeleton-line {
  height: 1em;
  background-color: #ccc;
  margin-bottom: 0.5em;
  border-radius: 0.25em;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-line.title {
  width: 70%;
  height: 1.5em;
}

.skeleton-line.short {
  width: 40%;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.sponsor {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Par défaut : 2 colonnes */
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-top: 1em;
}

.sponsor img {
  
  width: 100%;
  max-width: 200px;   /* Largeur max d’un logo */
  height: 150px;      /* Hauteur uniforme */
  object-fit: contain; /* Garde le ratio des images */
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* Zoom au survol */
.sponsor img:hover {
  transform: scale(1.1);
}

/* Écrans larges (≥ 900px) : 4 colonnes */
@media screen and (min-width: 900px) {
  .sponsor {
    grid-template-columns: repeat(4, 1fr);
  }
}

.sponsor-type h3 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1em;
    margin-bottom: 1rem;
    color:#f76c6c;
    font-family:Katibeh, Arial, Helvetica, sans-serif;
}



.submitbutton {
  display: flex;
  justify-content: center;
}

.submittedHome {
  display: flex;
  justify-content: center;  
  margin-top: 2em;  
  
}

.submittedHometext {
  display: flex;
  justify-content: center;
  margin-bottom: 0.2em;    
  
}

/* T */

.textInfo {
  min-height: 100vh;  
  padding: 2em 2em 2em 2em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--gris);
}

.textSubmitted {
  font-size: x-large;    
}

.titleUser {
  font-size: 3em;
  color: var(--rouge);
  font-family: Katibeh, Arial, Helvetica, sans-serif;  
}

.titreConf {
  display: flex;
  justify-content: center;
  font-size: 2em;   
}

.topBar {
  display: flex;
  align-items: center;  
}


/* U */

/* V */

.vignetteBillet {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.vignette {
  display: grid;
  justify-content: space-around;
}

/* W */

/* X */

/* Y */ 

/* Z */




